@model CodeFirstApproach.Models.Silicon

<h1>Add Student</h1>
<form method="post" action="Add">
    <div class="mb-3">
        <label for="Name" class="form-label">FullName</label>
        <input type="text" class="form-control" asp-for="Name">
    </div>

    <div class="mb-3">
        <label for="Age" class="form-label">Age</label>
        <input type="number" class="form-control" asp-for="Age">
    </div>

    <div class="mb-3">
        <label for="Salary" class="form-label">Salary</label>
        <input type="number" class="form-control" asp-for="Salary">
    </div>

    <div class="mb-3">
        <label for="Address" class="form-label">Address</label>
        <input type="text" class="form-control" asp-for="Address">
    </div>


    <button type="submit" class="btn btn-primary">Submit</button>
</form>